[Unit]
Description=run the garage door monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=gdoor -c config_1.json -s
WorkingDirectory=/home/bjc/gdoor/exe/
StandardOutput=append:/home/bjc/log1.log
StandardError=append:/home/bjc/log1.log
Restart=always

[Install]
WantedBy=multi-user.target
